<p><%= render "devise/shared/error_messages", resource: resource %></p>

<body class="text-center container w-30">
  <% if user_signed_in? %>
    <h2 class="text-center mt-5">      <%= link_to "apprAIse-factory", home_user_page_path, :style=>"text-decoration:none;color:#177180"  %></h2>
  <% else %>
    <h2 class="text-center mt-5">      <%= link_to "apprAIse-factory", home_index_path, :style=>"text-decoration:none;color:#177180"  %></h2>
  <% end %>

  <div class=" justify-content-center jumbotron  bg-white">

    <h3>新規登録</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, {class: 'sr-only'} %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control pt-4 pb-4', placeholder:"メールアドレス"  %>
      </div>

      <div class="field">
        <%= f.label :password, {class: 'sr-only'}%>
        <% if @minimum_password_length %>
        <small style="color:gray">(<%= @minimum_password_length %> 桁のパスワード)</small>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",placeholder:"パスワード", :class => 'form-control pt-4 pb-4' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード再入力", :class => 'form-control mb-3 pt-4 pb-4' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class=>"btn w-100 mb-3", :style=>"background-color:#177180; color:white;" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</body>

<style>
  .w-30{
    width:30%;
  }
  ul{
    list-style: none;
    padding: 0;
    color:red;
  }
</style>
