
<% if params[:path] == 'form' %>
  <div class="col text-center m-auto" style="width:70%;">
    <h4 class="mb-3">査定依頼</h4>
    <%= form_with(model: @post, local: true, url: { action: :confirm }) do |f| %>
        <div class="form-group row">
            <%= f.label :category, 'カテゴリー', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :category, required: true, class: 'form-control', value: "査定依頼", :readonly => true %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :email, 'メールアドレス', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :email, required: true, class: 'form-control', value: current_user.email, :readonly => true %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :condo_name, class: 'col-sm-2 col-form-label' do %>
              <span class="required">*</span>マンション名
            <% end %>
            <div class="col-sm-10">
              <%= f.text_field :condo_name, required: true, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
          <%= f.label :price, class: 'col-sm-2 col-form-label' do %>
            <span class="required">*</span>販売価格（万円）
          <% end %>
            <div class="col-sm-10">
              <%= f.number_field :price, required: true, class: 'form-control', :max	=> 999999, :min => 0 %>
            </div>
        </div>
        <div class="form-group row">
          <%= f.label :size, class: 'col-sm-2 col-form-label' do %>
            <span class="required">*</span>専有面積（m2）
          <% end %>
            <div class="col-sm-10">
              <%= f.number_field :size, required: true, class: 'form-control', :max	=> 999999, :min => 0%>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :floor, '所在階', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.number_field :floor, class: 'form-control', :max	=> 999, :min => 0%>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :storey, 'マンション階数', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.number_field :storey, class: 'form-control', :max	=> 999, :min => 0%>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :age, '築年月', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%# f.number_field :age, class: 'form-control'%>
              <%= f.date_select :age, {:discard_day => true, :start_year=>1940,:end_year=>Time.now.year}, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :total_unit, '総戸数', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.number_field :total_unit, class: 'form-control', :max	=> 9999, :min => 0%>
            </div>
        </div>

        <div class="actions">
          <%= f.submit '確認画面へ', class: 'btn btn-info btn-flex bg-color2 ' %>
        </div>
        <small id="submit-tip" class="form-text text-muted">
          <span class="required">*</span>は入力必須項目です。<br />
            送信する前に内容を見直してください
        </small>
    <% end %>
  </div>
<% else %>
  <div class="col text-center m-auto" style="width:70%;">
    <h4 class="mb-3">物件紹介</h4>
    <%= form_with(model: @post, local: true, url: {action: 'confirm'}) do |f| %>
    <div class="form-group row">
        <%= f.label :category, 'カテゴリー', class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :category, required: true, class: 'form-control', value: "物件紹介", :readonly => true %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label :email, 'メールアドレス', class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :email, required: true, class: 'form-control', value: current_user.email, :readonly => true %>
        </div>
    </div>

        <div class="form-group row">
            <%= f.label :city, '都道府県・市区町村', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :city, class: 'form-control', placeholder: '東京都千代田区', maxlength: '40'%>
            </div>
            <%= f.label :station, '沿線・駅', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :station, class: 'form-control', placeholder: 'JR山手線東京', maxlength: 40 %>
            </div>
            <small style="color:red">必ずいずれかを入力してください</small>
        </div>

        <div class="form-group row">
            <%= f.label :size, '広さ（m2）', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.number_field :size, class: 'form-control', :max	=> 999999, :min => 0 %>
            </div>
            <%= f.label :floor_plan, '間取り', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :floor_plan, class: 'form-control', maxlength: 10 %>
            </div>
            <small style="color:red">必ずいずれかを入力してください</small>
        </div>
        <div class="form-group row">
            <%= f.label :budget, '予算（万円）', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.number_field :budget, class: 'form-control', :max	=> 999999, :min => 0 %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :content, 'その他', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
              <%= f.text_field :content, class: 'form-control', maxlength: 2000 %>
            </div>
        </div>
        <div class="actions">
          <%= f.submit '確認画面へ', class: 'btn btn-info btn-flex bg-color2', name: 'path', value:'確認画面へ' %>
        </div>
        <small id="submit-tip" class="form-text text-muted">
          <span class="required">*</span>は入力必須項目です。<br />
            送信する前に内容を見直してください
        </small>
    <% end %>
  </div>
<% end %>
