<div class="card">
  <div class="card-header bg-info text-white d-flex">
      <h4 class="inline-block"><%= @post.category %></h4>
      <div class="text-right" style="margin-inline-start: auto">
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-light" %>
        <%= link_to("/posts/#{@post.id}/destroy",{method:"post",data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"}}) do %>
             <button type="button" class="btn btn-outline-light">
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
             </button>
             <% end %>
      </div>
  </div>
  <div class="card-body">
      <p class="card-text"><%= simple_format(@post.content) %></p>
  </div>
  <div class="card-footer">
      <p class="text-left font-weight-bold mr-10"><%= @post.email %></p>
  </div>
  <div class="card-header bg-info text-white d-flex">
      <h4 class="inline-block">コメント</h4>
  </div>
  <div class="card-body">
      <% @comments.each do |comment| %>
          <div class="card-body">
            <%= comment.user.email %>
            <p class="float-right"><%= comment.updated_at.to_s(:datetime_base) %></p>
            <hr />
            <%= comment.comment %>
            <%= link_to "削除", post_comment_path(@post, comment), method: :delete, class:"float-right" %>
          </div>


      <% end %>
  </div>
  <div class="card-footer">

    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :comment, size:"40x5"%>
      <%= f.submit '送信', class: "btn btn-outline-info", style:"vertical-align: text-bottom" %>
    <% end %>
  </div>

</div>
