<!DOCTYPE html>
<html>
  <head>
    <title>AppraiseFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice text-center" style="margin:0;padding:0;"><%= notice %></p>
    <p class="alert text-center" style="margin:0;padding:0;"><%= alert %></p>
    <%= yield %>
  </body>
  <script type="text/javascript">
    setTimeout(function(){
      $('.alert').fadeOut();
      $('.notice').fadeOut();
     }, 3000);
  </script>
</html>
